# 202404: Align all requirements with st2 fixed-requirements
chardet==5.2.0
eventlet==0.35.2
jinja2==3.1.3 # BSD License (3 clause)
jsonschema==3.2.0 # MIT
# networkx v3.2 and greater does not support Python3.8.
networkx<3.2
python-dateutil==2.8.1
pyyaml==5.3.1 # MIT
six~=1.15
stevedore>=1.3.0 # Apache-2.0
ujson>=1.35 # BSD License
yaql>=1.1.0 # Apache-2.0
