# 202404: Align all requirements with st2 fixed-requirements
# 202405: Orquesta is a library, leave version ranges as wide as possible
#         so pip can handle resolving the final version constraints.
chardet>=3.0.2
eventlet
jinja2>=2.11 # BSD License (3 clause)
jsonschema>=3,<4 # MIT
# networkx v3.2 and greater does not support Python3.8.
networkx>=2.6,<3.2
python-dateutil
pyyaml>=5.3.1 # MIT
six>=1.14.0
stevedore>=1.3.0 # Apache-2.0
ujson>=1.35 # BSD License
yaql>=1.1.0 # Apache-2.0
